{% extends "base.html" %}

{% block title %}Установка нового пароля{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Установка нового пароля</div>
            <div class="card-body">
              {% load user_filters %}
              <p>
                Пожалуйста, дважды введите новый пароль для вашего профиля
              </p>

              <form method="post">{% csrf_token %}
                <div class="form-group row my-3">
                  <div>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль:</label>
                    {{ form.new_password1|addclass:'form-control' }}
                  </div>
                  <div>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">
                      Подтвердите новый пароль:
                    </label>
                    {{ form.new_password2|addclass:'form-control' }}
                  </div>
                </div>
                <div class="col-md-6 offset-md-5">
                  <input type="submit" value="Изменить пароль" 
                  class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="container py-5">
      <p>
        Ссылка на восстановление пароля больше не действительна. Пожалуйста, 
        отправьте новый запрос на восстановление пароля.
      </p>
    </div>
  {% endif %}
{% endblock %}