{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Изменение пароля</div>
          <div class="card-body">
            {% load user_filters %}
            <p>
              В целях безопасности, пожалуйста, введите свой старый пароль, 
              затем введите новый пароль дважды, чтобы мы могли убедиться в 
              правильности написания.
            </p>

            <form method="post">{% csrf_token %}
              {% if form.errors %}
                <p>
                  {% if form.errors.items|length == 1 %}
                  Пожалуйста, исправьте ошибку
                  {% else %}Пожалуйста, исправьте ошибку{% endif %}
                </p>
              {% endif %}

              <div class="form-group row my-3">
                {% for error in form.old_password.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {{ form.old_password.label_tag }} 
                {{ form.old_password|addclass:'form-control' }}
              </div>

              <div class="form-group row my-3">
                {% for error in form.new_password1.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {{ form.new_password1.label_tag }} 
                {{ form.new_password1|addclass:'form-control' }}
                {% if form.new_password1.help_text %}
                <div class="form-text text-muted">
                  {{ form.new_password1.help_text|safe }}
                </div>
                {% endif %}
              </div>

              <div class="form-group row my-3">
                {% for error in form.new_password2.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {{ form.new_password2.label_tag }} 
                {{ form.new_password2|addclass:'form-control' }}
                {% if form.new_password2.help_text %}
                <div class="form-text text-muted">
                  {{ form.new_password2.help_text|safe }}
                </div>
                {% endif %}
              </div>

              <div class="col-md-1 offset-md-5">
                <input type="submit" value="Изменить мой пароль" 
                class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}