{% extends "base.html" %}

{% block title %}Отправлен запрос на восстановление пароля{% endblock %}

{% block content %}
  <div class="container py-5">
    <h2>Отправлен запрос на восстановление пароля</h2>
    <p>
      Если у указанного вами адреса e-mail есть профиль на сайте, то вам 
      придет письмо с инструкцией по установке нового пароля. Письмо должно 
      прийти в течение 15-30 минут.
    </p>
    <p>
      Если письмо вам не пришло, проверьте, что вы отправили адрес, который 
      указывали при регистрации. Также проверьте папку "Спам".
    </p>
  </div>
{% endblock %}