{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Восстановление пароля</div>
          <div class="card-body">
            {% load user_filters %}
            <p>
              Забыли пароль? Введите свой адрес электронной почты ниже, 
              и мы вышлем вам инструкцию, как установить новый пароль.
            </p>

            <form method="post">{% csrf_token %}
              <div class="form-group row my-3">
                {{ form.email.errors }}
                <label for="id_email">E-mail адрес:</label>
                {{ form.email|addclass:'form-control' }}
              </div>
              <div class="col-md-6 offset-md-5">
                <input type="submit" value="Восстановить пароль" 
                class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}